* {
    margin: 0;
    padding: 0;
}

.calculator {
    background-color: #DADADA;
    color: #fff;
    height: auto;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black !important;

}

#display {

    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    width: 240px;
    border: none;
    height: 30px;
    /* align-content: flex-start; */
    background-color: #B9B9B9;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 35px;
}


.btn-equal {
    width: 100px;
    background-color: blue !important;
    margin-right: 10px !important;
    color: #fff !important;
}

.btn {
    border: none !important;
    /* outline: none; */
    font-weight: 600 !important;
}

.op {
    color: blue !important;
}

.main {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;

}